In [1]:
a = 'Rohan Khichi'           # Qusetion 1 Str,List,float,Tuple

In [2]:
type(a)

str

In [4]:
a1 = [1,2,3,4, 2.34, True, False, 'Rohan', 8+8j]

In [5]:
type(a1)

list

In [6]:
a2 = 24.09

In [7]:
type(a2)

float

In [8]:
a3 = (1,2,3,4, 2.34, True, False, 'Rohan', 8+8j)

In [9]:
type(a3)

tuple

In [16]:
# Question 2
# 1 = String Variable
# 2 = String
# 3 = List
# 4 = Float

In [24]:
# Question 3
# 1 = Float
# 2 = int
# 3 = int
# 4 = int

In [1]:
# Question 4
l = [1,2,4,5,8.6, True, 5+9j, 'Rohan']

In [8]:
for r in l:
    print(r)

1
2
4
5
8.6
True
(5+9j)
Rohan

In [9]:
#Question 5
l1 = [1,3,4,5,7,5,6,9,12,24,56,88,44,30,43,23,56,89,130,90,55,45,33]

SyntaxError: invalid syntax (887865762.py, line 2)

In [21]:
#Question 7
#Mutable
l = [1,2,3,4,'Data Science']

In [22]:
l[4] = 'Data Science Master'

In [23]:
l #we can easily replace Data in list because list are mutable

[1, 2, 3, 4, 'Data Science Master']

In [24]:
t = (1,2,3,4,'Data Science')

In [26]:
t[4] = 'h' #tuples are immutable and they does't replace any form of data

TypeError: 'tuple' object does not support item assignment